<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="ko">
        <link rel="stylesheet" href="/stylesheets/css/carousel.css">
        <title>Amazon.com: Amazon Prime</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>

    <body>
        <header>
        </header>
        <nav>
            <ul>
                <li><a href="">Amazon</a></li>
                <input type="button" class="home" value="메인페이지"/>
                <input type="button" class="privilege" value="권한설정"/>
            </ul>
        </nav>
        <section>
            <h1>file upload</h1>
            <form method="POST" enctype="multipart/form-data" action="/files/upload">
                <table>
                    <tr>
                        <td><label>file</label></td>
                        <td><input type="file" name="photo"></td>
                    </tr>
                </table>
                <input type="submit" value="upload" name="submit">
            </form>
        </section>
        <script src="/javascripts/admin/admin.js"></script>
    </body>

</html>

